vscode/Library/Application Support/Code/User/globalStorage/
vscode/Library/Application Support/Code/User/workspaceStorage/
vscode/Library/Application Support/Code/User/History/
vscode/Library/Application Support/Code/User/chatLanguageModels.json
